<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>World of Scratches</title>
</head>
<body>
  <table>
    <tr>
      <th>Employee No.</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Position</th>
    </tr>
      <tr th:each="staff:${staffDetails}">
          <td th:text="${staff.guid}">Employee No.</td>
          <td th:text="${staff.firstName}">First Name</td>
          <td th:text="${staff.lastName}">Last Name</td>
          <td th:text="${staff.position}">Position</td>
      </tr>
  </table>

</body>
</html>