.main-content{
    padding-top: 60px;
    margin: 50%;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.form-row{
    padding-top: 8px;
}